    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    body{
        background-color: #bed7fce3;
        color: rgba(34, 33, 33, 0.89);
        
        display: flex;
        justify-content: center;
        
        padding-left: 30px;
        padding-right: 30px;
         min-height: 100vh;
    }


    .card{
        /* background-color: #FFFFFF; */
        opacity: 90%;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 15px;
        padding-bottom: 15px;    
        width: 100%;
        max-width: 560px;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.12);
        background-color: rgba(255, 255, 255, 0.68);
        border-radius: 10px;
        
        margin: 10px;
        display: flex;
        flex-direction: column;

    }
    .developer{
        text-align: center;
        padding-top: 3px;
        padding-bottom: 15px;
        font-size: 1.5rem;
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items:center;
        transition: all 0.3s ease;


    }
    .section1{
    background-color: #d1dff7;
    
    padding:10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;

    }
    .section2{

    background-color: #d1dff7;
    padding: 3px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    transition: all 0.3s ease;
    }

@media (max-width: 600px) {
.section2{
    flex-direction: column;
    padding-top: 10px;
}

}

    .section2:hover{
    transform:translateY(-2px);

    }
    .an:hover{
    transform:translateY(-2px);

    }
    .section1:hover{
    transform:translateY(-2px);

    }


    .section3{
    margin-top: 30px;

    transition: all 0.3s ease;
    }

    ul {
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 10px;
        flex-wrap: wrap;
        list-style: none;
        padding: 10px;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        background-color: hsl(216, 94%, 80%);
        padding: 10px  15px;
        border-radius: 6px;
        cursor: pointer;
    }
    li:active{
        transform: scale(0.95);
    }

    .project{

    background-color: #d1dff7;
    padding:20px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease;


    }
    .skill{
        font-weight: 500;
        
    }
    .basic{
    font-size: 1.3rem;
    font-weight: 800;
    padding-top: 10px;
    }

    .title{
    font-weight: 800;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 20px;
    font-size: 1.5rem;
    transition: all 0.3s ease;


    }

    .fontblod{
        font-weight: 800;
        font-size: 1.3rem;
    }



    p{
        padding:8px 0px;
    }