body{
    background-color: #51679b;
    color: rgba(34, 33, 33, 0.89);
    opacity: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}


.card{
    background-color: #5a96be;
    padding: 15px;    
    width: 350px;
    border: 1px solid #69788d;
    border-radius:10px;
    margin: 45px;
}
.developer{
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 500;

}
.section1{
  background-color: #8cb9d6;
  padding: 15px;
  border-radius: 10px;
}
.section2{

background-color: #8cb9d6;
  padding: 15px;
  border-radius: 10px;
 display: flex;
align-items: center;
gap: 5px;
margin-top: 10px;
}

ul{
    display: flex;
    align-items: center;
    gap: 5px;
}

.project{

background-color: #8cb9d6;
  padding: 15px;
  border-radius: 10px;

margin-top: 15px;



}
.skill{
    font-weight: 500;
    
}
.basic{
font-size: 17px;
font-weight: 500;
}

.title{
font-weight: 500;

text-align: center;
font-size: 1.2rem;
padding-top: 10px;

}

.fontblod{
    font-weight: 500;
}



